<!DOCTYPE html>
<html>
<head>
    <title>Pseudo Kirill Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="matrix-bg" class="matrix-bg"></div>
    <div class="content">
        <h1>Pseudo Kirill Converter</h1>
        <textarea id="input" placeholder="Введите текст на русском. Заглавные буквы остаются без изменений…"></textarea>
        <div class="result" id="output"></div>
    </div>

    <script>
        const replacements = {
            'а': 'a', 'б': '6', 'в': 'ß', 'г': 'g', 'д': 'd',
            'е': 'e', 'ё': 'ë', 'ж': 'ж', 'з': '3', 'и': 'u',
            'й': 'ũ', 'к': 'k', 'л': 'l', 'м': 'm', 'н': 'H',
            'о': 'o', 'п': 'n', 'р': 'p', 'с': 'c', 'т': 'т',
            'у': 'y', 'ф': 'f', 'х': 'x', 'ц': 'ц', 'ч': '4',
            'ш': 'w', 'щ': 'w', 'ъ': "'", 'ы': 'bI', 'ь': 'b',
            'э': 'e', 'ю': 'ю', 'я': 'я'
        };

        // Конвертер текста
        document.getElementById('input').addEventListener('input', async function() {
            try {
                const response = await fetch('/convert', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ text: this.value })
                });
                
                const data = await response.json();
                document.getElementById('output').textContent = data.result;
            } catch (error) {
                console.error('Error:', error);
                document.getElementById('output').textContent = 'Ошибка при конвертации';
            }
        });

        // The function of creating a falling symbol
        function createSymbol() {
            const symbol = document.createElement('div');
            symbol.className = 'symbol';
            
            // A random character from replacements
            const symbols = Object.values(replacements);
            symbol.textContent = symbols[Math.floor(Math.random() * symbols.length)];
            
            // random x position
            symbol.style.left = Math.random() * 100 + 'vw';
            
            // random duration
            const duration = 5 + Math.random() * 5;
            symbol.style.animationDuration = duration + 's';
            
            document.getElementById('matrix-bg').appendChild(symbol);
            
            // deleting symbol
            setTimeout(() => {
                symbol.remove();
            }, duration * 1000);
        }

        // interval for creating symbol
        setInterval(createSymbol, 100);
    </script>
</body>
</html>